@model HomeVM

<section class="section first-section">
    <div class="container-fluid">
        <div class="masonry-blog clearfix">
            @foreach (var head in Model.HeadArticles)
                {
                
            <div class="left-side">
                <div class="masonry-box post-media">
                    <img src="@head.PhotoUrl" alt="" class="img-fluid">
                    <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-aqua"><a href="blog-category-01.html" title="">@head.category.CategoryName</a></span>
                                <h4><a href="/article/detail/@head.Id" title="">@head.Title</a></h4>
                                <small><a href="garden-single.html" title="">@head.CreatedDate</a></small>
                                <small><a href="#" title="">by @head.User.FirstName</a></small>
                            </div><!-- end meta -->
                            
                            
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end left-side -->

            }
        </div><!-- end masonry -->
    </div>
</section>

<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                @foreach (var article in Model.HomeArticles)
                {
                    <div class="blog-list clearfix">
                        <div class="blog-box row">
                            <div class="col-md-4">
                                <div class="post-media">
                                    <a href="/article/detail/@article.Id" title="">
                                        <img src="@article.PhotoUrl" alt="" class="img-fluid">
                                        <div class="hovereffect"></div>
                                    </a>
                                </div><!-- end media -->
                            </div><!-- end col -->

                            <div class="blog-meta big-meta col-md-8">
                                    <h4><a href="/article/detail/@article.Id" title="">@article.Title</a></h4>
                                <p>@article.Content</p>
                                    <small><a href="/article/detail/@article.Id" title="">@article.CreatedDate.ToString("dd/mm/yyyy")</a></small>
                                    <small><a title="">@article.Views</a></small>
                                <small><a href="#" title="">by @article.User.FirstName </a></small>
                            </div><!-- end meta -->
                        </div><!-- end blog-box -->

                        <hr class="invis">
                    </div><!-- end blog-list -->
                }
                </div><!-- end page-wrapper -->

                <hr class="invis">

                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-start">
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget">
                        <h2 class="widget-title">Search</h2>
                        <form class="form-inline search-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search on the site">
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </form>
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Recent Posts</h2>
                        <div class="blog-list-widget">
                            <div class="list-group">
                                @foreach (var rec in Model.RecentPosts)
                                {

                                    <a href="/article/deatil/@rec.Id" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 last-item justify-content-between">
                                            <img src="@rec.ArticleComment.PhotoUrl" alt="" class="img-fluid float-left">
                                            <h5 class="mb-1">@rec.Message</h5>
                                            <small>@rec.CreatedDate</small>
                                        </div>
                                    </a>
                                }

                            </div>
                        </div><!-- end blog-list -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Advertising</h2>
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="upload/banner_04.jpg" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Top Articles</h2>
                        <div class="instagram-wrapper clearfix">
                            @foreach (var top in Model.TopArticle)
                            {
                                
                            <a href="#"><img src="@top.PhotoUrl" alt="" class="img-fluid"></a>
                            }
                     
                        </div><!-- end Instagram wrapper -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Popular Categories</h2>
                        <div class="link-widget">
                            <ul>
                                @foreach (var cat in Model.PopularCategories)
                                {

                                    <li><a href="#">@cat.CategoryName <span>(@cat.CategoryCount)</span></a></li>
                                }
                                
                            </ul>
                        </div><!-- end link-widget -->
                    </div><!-- end widget -->
                </div><!-- end sidebar -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>